html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    .container
      .jumbotron
        .row.text-center
          h1
            a(href='http://www.eventbrite.com/e/2015-boston-cleanweb-hackathon-tickets-15895685423', target='_blank')
              img(src='/images/cleanweblogo.png')
          h4 This is a sample app to get you started! 
          p
            | This app uses a simple javascript charting library 
            a(href='http://www.chartjs.org/', target='_blank') Chart.js
            |  to visualize data from the 
            a(href='https://www.apitite.net/api/clean_web', target='_blank') Clean Web Sample Data API
            |  created with  
            a(href='https://www.apitite.net/', target='_blank') Apitite.

          p
            a.btn.btn-primary.btn-lg(href='https://github.com/tratch/clean-web.git', role='button') Get the Code from GitHub

      //Graphs!
      .row
        .col-md-12.text-center
          h3 (Bar Chart Example) Average GHG Emissions (MtCO2e) by building type in 2013.
          canvas#emission-by-building-type-bar(width='800', height='600')

      .row
        .col-md-12.text-center
          h3 (Radar Chart Example) Average GHG Emissions (MtCO2e) by building type in 2013.
          canvas#emission-by-building-type-radar(width='800', height='600')

      .row
        .col-md-12.text-center
          h6
            | Powered by 
            a(href='https://www.apitite.net/', target='_blank') Apitite
    script(type='text/javascript', src='/javascripts/jquery-2.1.3.min.js')
    script(type='text/javascript', src='/javascripts/underscore-min.js')
    script(type='text/javascript', src='/javascripts/Chart.min.js')
    script(type='text/javascript', src='/javascripts/index.js')
